<section id="section-header">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="small-12 cell">
				<h1 class="white">FRIDAY, NOVEMBER 17</h1>
			</div>
		</div>
	</div>
</section>

<section id="section-event">
	<div class="grid-container">		
	  <div class="grid-x grid-margin-x">
	    <div class="large-3 cell">
		    <div class="calendar-box">
			    <div class="time-from">
				    12:00
			    </div>
			    <div class="divider">
				    <hr />
			    </div>
			    <div class="time-to">
				    1:30
			    </div>
		    </div>
		    <div class="get-tickets">
			    <a class="button expanded" href="https://www.eventbrite.com/e/adweek-2017-vip-lunch-with-adam-bryant-tickets-38855675371">GET TICKETS</a>
		    </div>
	    </div>
	    <div class="large-8 large-offset-1 cell">
			<h2>LUNCH WITH DAVID CARSON</h2>
			<h2 class="white"><small>AT 2VINE RESTAURANT—LIMITED AVAILABILITY</small></h2>
			<h3><a data-toggle="panel-9" class="expand-details">EVENT DETAILS</a></h3>
	    </div>
	  </div>
	  
	  <div id="panel-9" data-toggler data-animate="hinge-in-from-top hinge-out-from-top" style="display: none;">
	  	<div class="grid-x grid-margin-x">
		    <div class="large-3 medium-4 cell">
			    <div class="event-details">
					NAZARETH STUDENTS: Free<br />
					NON-NAZARETH STUDENTS: $5<br />
					Lunch will be provided
			    </div>
		    </div>
		    <div class="large-8 large-offset-1 cell">
			    <p><strong>Adam Bryant</strong><br />
Adam Bryant conducts interviews with chief executives for Corner Office, a feature about leadership and management in The New York Times and on NYTimes.com that he started in March 2009. It now appears twice weekly, on Friday and Sunday.</p>

<p>Adam has had many roles at The Times, including business reporter, deputy business editor, deputy national editor and senior editor for features. He is also a former senior writer and business editor at Newsweek magazine. Adam was the lead editor of a series on the dangers of distracted driving that won a Pulitzer Prize for National Reporting.</p>
		    </div>
	  	</div>
	  </div>
	</div>
</section>
<hr class="hide-for-small-only" />
<section id="section-event">
	<div class="grid-container">		
	  <div class="grid-x grid-margin-x">
	    <div class="large-3 cell">
		    <div class="calendar-box">
			    <div class="time-from">
				    12:00
			    </div>
			    <div class="divider">
				    <hr />
			    </div>
			    <div class="time-to">
				    1:30
			    </div>
		    </div>
		    <div class="get-tickets">
			    <a class="button expanded" href="https://www.eventbrite.com/e/adweek-2017-vip-lunch-with-david-carson-tickets-38855699443">GET TICKETS</a>
		    </div>
	    </div>
	    <div class="large-8 large-offset-1 cell">
			<h2>LUNCH WITH ADAM BRYANT</h2>
			<h2 class="white"><small>AT CHAR—LIMITED AVAILABILITY</small></h2>
			<h3><a data-toggle="panel-10" class="expand-details">EVENT DETAILS</a></h3>
	    </div>
	  </div>
	  
	  <div id="panel-10" data-toggler data-animate="hinge-in-from-top hinge-out-from-top" style="display: none;">
	  	<div class="grid-x grid-margin-x">
		    <div class="large-3 medium-4 cell">
			    <div class="event-details">
					NAZARETH STUDENTS: Free<br />
					NON-NAZARETH STUDENTS: $5<br />
					Lunch will be provided
			    </div>
		    </div>
		    <div class="large-8 large-offset-1 cell">
			    <p><strong>David Carson</strong><br />
David Carson is a graphic designer, art director and surfer. He is best known for his innovative magazine design, and use of experimental typography. He was the art director for the magazine Ray Gun, in which he employed much of the typographic and layout style for which he is known. In particular, his widely imitated aesthetic defined the so-called "grunge typography" era.</p>

<p>In a feature story, Newsweek magazine said of Carson that he "changed the public face of graphic design".</p>

<p>His layouts featured distortions or mixes of 'vernacular' typefaces and fractured imagery, rendering them almost illegible. Indeed, his maxim of the 'end of print' questioned the role of type in the emergent age of digital design, following on from California New Wave and coinciding with experiments at the Cranbrook Academy of Art.</p>

<p>When Graphic Design USA Magazine (NYC) listed the "most influential graphic designers of the era" David was listed as one of the all-time 5 most influential designers, with Milton Glaser, Paul Rand, Saul Bass and Massimo Vignelli.
</p>
		    </div>
	  	</div>
	  </div>
	</div>
</section>
<hr class="hide-for-small-only" />
<section id="main-event">
	<div class="grid-container">		
	  <div class="grid-x grid-margin-x">
	    <div class="large-3 cell">
		    <div class="calendar-box">
			    <div class="time-from">
				    6:00
			    </div>
			    <div class="divider">
				    <hr />
			    </div>
			    <div class="time-to">
				    9:00
			    </div>
		    </div>
		    <div class="get-tickets">
			    <a class="button expanded" href="https://www.eventbrite.com/e/adweek-2017-adam-bryant-david-carson-tickets-38715748847">GET TICKETS</a>
		    </div>
	    </div>
	    <div class="large-8 large-offset-1 cell">
			<h2>ROCHESTER ADWEEK MAIN EVENT</h2>
			<h2 class="white">ADAM BRYANT & DAVID CARSON<br />
				<small>AT ARTISAN WORKS</small></h2>
			<h3><a data-toggle="panel" class="expand-details">EVENT DETAILS</a></h3>
	    </div>
	  </div>
	  
	  <div id="panel" data-toggler data-animate="hinge-in-from-top hinge-out-from-top" style="display: none;">
	  	<div class="grid-x grid-margin-x">
		    <div class="large-3 medium-4 cell">
			    <div class="event-details">
					STUDENTS: $25<br />
					MEMBERS: $50<br />
					NON-MEMBERS: $60<br />
					<a href="https://www.facebook.com/events/118756895472148"><img src="assets/img/FB-f-Logo__white_50.png" class="social" /></a>
			    </div>
		    </div>
		    <div class="large-8 large-offset-1 cell">
			    <p>Whether self-employed or working for a major firm; learn the key financial decisions you should be making to build confidence and control around your most important goals. James Farley will share scalable strategies as it relates to cash flow management, risk management, wealth accumulation, tax strategies, and distribution planning.</p>
		    </div>
	  	</div>
	  </div>
	</div>
	<div class="grid-container full show-for-medium">
	  <div class="grid-x grid-margin-x">
	    <div class="cell medium-6 medium-offset-6 bottom-graphic"><img src="assets/img/RADType_graphic.png" /></div>
	  </div>
	</div>
</section>