<section id="section-header">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="small-12 cell">
				<h1 class="white">MONDAY, NOVEMBER 13</h1>
			</div>
		</div>
	</div>
</section>

<section id="section-event">
	<div class="grid-container">		
	  <div class="grid-x grid-margin-x">
	    <div class="large-3 cell">
		    <div class="calendar-box">
			    <div class="time-from">
				    12:00
			    </div>
			    <div class="divider">
				    <hr />
			    </div>
			    <div class="time-to">
				    1:30
			    </div>
		    </div>
	    </div>	    
	    
	    <div class="large-8 large-offset-1 cell">
			<h2>LUNCH & LEARN:<br />
				RID THE WORLD OF BAD PRESENTATIONS</h2>
			<h2 class="white">Joe Mayernik, Creative Director<br />
				Roberts Communications<br />
				<small>AT ROBERTS COMMUNICATIONS</small></h2>
			<h3><a data-toggle="panel-1" class="expand-details">EVENT DETAILS</a></h3>
	    </div>
	  </div>
	  
	  <div id="panel-1" data-toggler data-animate="fade-in fade-out" style="display: none;">
	  	<div class="grid-x grid-margin-x">
		    <div class="large-3 medium-4 cell">
			    <div class="event-details">
					STUDENTS: $5<br />
					MEMBERS: $10<br />
					NON-MEMBERS: $15<br />
					<a href="https://www.facebook.com/events/487948734937057"><img src="assets/img/FB-f-Logo__white_50.png" class="social" /></a>
			    </div>
		    </div>
		    <div class="large-8 large-offset-1 cell">
			    <p>The success of every idea depends on the strength of how it’s presented. We’ve all had the one big idea—that passion project we’ve worked through the night and into the morning. Everyone has felt the drive that comes with it, and the desire to see it come to life. It’s time to embrace storytelling to safeguard your next groundbreaking idea from a bad presentation that can hinder said big idea from ever seeing the light of day.</p>
		    </div>
	  	</div>
	  </div>
	</div>
</section>

<hr class="hide-for-small-only" />

<section id="section-event">
	<div class="grid-container">		
	  <div class="grid-x grid-margin-x">
	    <div class="large-3 cell">
		    <div class="calendar-box">
			    <div class="time-from">
				    6:00
			    </div>
			    <div class="divider">
				    <hr />
			    </div>
			    <div class="time-to">
				    7:00
			    </div>
		    </div>
		    <div class="get-tickets">
			    <a class="button expanded" href="https://www.eventbrite.com/e/radweek-2017-portfolio-building-the-good-the-bad-the-ugly-tickets-38854792731">GET TICKETS</a>
		    </div>
	    </div>
	    <div class="large-8 large-offset-1 cell">
			<h2>PORTFOLIO BUILDING:<br />
				THE GOOD, THE BAD, & THE UGLY</h2>
			<h2 class="white">Jeremy Schwartz, Truth Collective<br />
				Mike Baron, Partners + Napier<br />
				<small>AT NAZARETH COLLEGE, MEDAILLE HALL DINING ROOM</small></h2>
			<h3><a data-toggle="panel-2" class="expand-details">EVENT DETAILS</a></h3>
	    </div>
	  </div>
	  
	  <div id="panel-2" data-toggler data-animate="hinge-in-from-top hinge-out-from-top" style="display: none;">
	  	<div class="grid-x grid-margin-x">
		    <div class="large-3 medium-4 cell">
			    <div class="event-details">
					Nazareth students: Free<br />
					Non-Nazareth students: $5<br />
					<a href="https://www.facebook.com/events/359064574550826"><img src="assets/img/FB-f-Logo__white_50.png" class="social" /></a>
			    </div>
		    </div>
		    <div class="large-8 large-offset-1 cell">
			    <p>Learn the dos and the don'ts of portfolio design from two guys who have seen more than their fair share—Jeremy Schwartz, Partner, Creative lead @ Truth Collective and Mike Baron, SVP Group Creative Director @ Partners + Napier.</p>
		    </div>
	  	</div>
	  </div>
	</div>
</section>