<section id="section-header">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="small-12 cell">
				<h1 class="white">TUESDAY, NOVEMBER 14</h1>
			</div>
		</div>
	</div>
</section>

<section id="section-event">
	<div class="grid-container">		
	  <div class="grid-x grid-margin-x">
	    <div class="large-3 cell">
		    <div class="calendar-box">
			    <div class="time-from">
				    12:00
			    </div>
			    <div class="divider">
				    <hr />
			    </div>
			    <div class="time-to">
				    1:30
			    </div>
		    </div>
	    </div>
	    <div class="large-8 large-offset-1 cell">
			<h2>LUNCH & LEARN:<br />
				MAKE MARKETING ANALYTICS WORK FOR YOU</h2>
			<h2 class="white">Mike Reed, Analytics & Automated Marketing Manager, Dixon Schwabl<br />
				<small>AT DIXON SCHWABL</small></h2>
			<h3><a data-toggle="panel-3" class="expand-details">EVENT DETAILS</a></h3>
	    </div>
	  </div>
	  
	  <div id="panel-3" data-toggler data-animate="hinge-in-from-top hinge-out-from-top" style="display: none;">
	  	<div class="grid-x grid-margin-x">
		    <div class="large-3 medium-4 cell">
			    <div class="event-details">
					STUDENTS: $5<br />
					MEMBERS: $10<br />
					NON-MEMBERS: $15<br />
					<a href="https://www.facebook.com/events/1284863638290212"><img src="assets/img/FB-f-Logo__white_50.png" class="social" /></a>
			    </div>
		    </div>
		    <div class="large-8 large-offset-1 cell">
			    <p>Michael brings to Dixon Schwabl more than 10 years of experience in multichannel marketing and web/digital analytics. Prior to joining the DS team, he worked for SIGMA Marketing Insights and the University of Rochester. Michael earned his MBA in marketing and competitive strategy from the Simon Business School at the University of Rochester.</p>
		    </div>
	  	</div>
	  </div>
	</div>
</section>
<hr class="hide-for-small-only" />
<section id="section-event">
	<div class="grid-container">		
	  <div class="grid-x grid-margin-x">
	    <div class="large-3 cell">
		    <div class="calendar-box">
			    <div class="time-from">
				    5:00
			    </div>
			    <div class="divider">
				    <hr />
			    </div>
			    <div class="time-to">
				    9:00
			    </div>
		    </div>
		    <div class="get-tickets">
			    <a class="button expanded" href="https://www.eventbrite.com/e/adweek-2017-40-minutes-a-beer-tickets-38855071565">GET TICKETS</a>
		    </div>
	    </div>
	    <div class="large-8 large-offset-1 cell">
			<h2>40 MINUTES & A BEER (40 MAAB)</h2>
			<h2 class="white">Enter the Effies. You can't lose.<br />—Pete Vonderlinn</h2>
			<h2 class="white">Google's Secret Sauce—A Firsthand Experience<br />—Ali Ali<br />
				<small>WE'RE PACKING IN TWO OUTSTANDING SPEAKERS FOR THIS ROCHESTER ADWEEK EDITION FOR 40 MINUTES & A BEER (OR TWO). THE FIRST PRESENTATION WILL BEGIN PROMPTLY AT 5:45 P.M.</small></h2>
			<h3><a data-toggle="panel-4" class="expand-details">EVENT DETAILS</a></h3>
	    </div>
	  </div>
	  
	  <div id="panel-4" data-toggler data-animate="hinge-in-from-top hinge-out-from-top" style="display: none;">
	  	<div class="grid-x grid-margin-x">
		    <div class="large-3 medium-4 cell">
			    <div class="event-details">
					Members: Free<br />
					Non-members: $10<br />
					<a href="https://www.facebook.com/events/315741528889938"><img src="assets/img/FB-f-Logo__white_50.png" class="social" /></a>
			    </div>
		    </div>
		    <div class="large-8 large-offset-1 cell">
			    <p><strong>Enter the Effies. You can't lose.</strong><br />
				    Two years ago Pete VonDerLinn challenged his agency to win one Effie. Now they have three. But much more important than the trophies is the effectiveness culture the Effies helped build at Partners+Napier. Hear the story and gain insider tips on how to win the award clients love.</p>
			    <p><strong>Google's Secret Sauce—A Firsthand Experience</strong><br />
				    <strong>Ali Ali - Director and Principal Designer at Dwaiter</strong><br />
				    Have you ever wondered what keeps Google ticking? How they keep their employees engaged, motivated, and happy? Dwaiter director and principal designer Ali Ali reveals some of the lessons he learned while working there.</p>
		    </div>
	  	</div>
	  </div>
	</div>
</section>