<section id="section-header">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="small-12 cell">
				<h1 class="white">WEDNESDAY, NOVEMBER 15</h1>
			</div>
		</div>
	</div>
</section>

<section id="section-event">
	<div class="grid-container">		
	  <div class="grid-x grid-margin-x">
	    <div class="large-3 cell">
		    <div class="calendar-box">
			    <div class="time-from">
				    12:00
			    </div>
			    <div class="divider">
				    <hr />
			    </div>
			    <div class="time-to">
				    1:30
			    </div>
		    </div>
		    <div class="get-tickets">

		    </div>
	    </div>
	    <div class="large-8 large-offset-1 cell">
			<h2>LUNCH & LEARN:</h2>
			<h2 class="white">LESSONS LEARNED WHILE IN IMPROV</h2>
			<h3 class="white"><span class="presenter-details">Truth Collective Team</span><br />
				<small>LOCATION: TRUTH COLLECTIVE</small></h3>
			<h3><a data-toggle="panel-5" class="expand-details">EVENT DETAILS</a></h3>
	    </div>
	  </div>
	  
	  <div id="panel-5" data-toggler data-animate="hinge-in-from-top hinge-out-from-top" style="display: none;">
	  	<div class="grid-x grid-margin-x">
		    <div class="large-3 medium-4 cell">
			    <div class="event-details">
					STUDENTS: $5<br />
					MEMBERS: $10<br />
					NON-MEMBERS: $15<br />
					Lunch will be provided<br />
					<a href="https://www.facebook.com/events/122633105109341"><img src="assets/img/FB-f-Logo__white_50.png" class="social" /></a>
			    </div>
		    </div>
		    <div class="large-8 large-offset-1 cell">
			    <p><!-- Description --></p>
		    </div>
	  	</div>
	  </div>
	</div>
</section>
<hr class="hide-for-small-only" />
<section id="section-event">
	<div class="grid-container">		
	  <div class="grid-x grid-margin-x">
	    <div class="large-3 cell">
		    <div class="calendar-box">
			    <div class="time-from">
				    6:00
			    </div>
			    <div class="divider">
				    <hr />
			    </div>
			    <div class="time-to">
				    8:30
			    </div>
		    </div>
		    <div class="get-tickets">
			    <a class="button expanded" href="https://www.eventbrite.com/e/adweek-2017-movie-night-design-disruptors-tickets-38855458723">GET TICKETS</a>
		    </div>
	    </div>
	    <div class="large-8 large-offset-1 cell">
			<h2>MOVIE NIGHT:</h2>
			<h2 class="white">DESIGN DISRUPTORS</h2>
			<h3 class="white"><small>LOCATION: THE LITTLE, THEATER 2</small></h3>
			<h3><a data-toggle="panel-6" class="expand-details">EVENT DETAILS</a></h3>
	    </div>
	  </div>
	  
	  <div id="panel-6" data-toggler data-animate="hinge-in-from-top hinge-out-from-top" style="display: none;">
	  	<div class="grid-x grid-margin-x">
		    <div class="large-3 medium-4 cell">
			    <div class="event-details">
					STUDENTS: $5<br />
					MEMBERS: $10<br />
					NON-MEMBERS: $15<br />
					<a href="https://www.facebook.com/events/271151763393348"><img src="assets/img/FB-f-Logo__white_50.png" class="social" /></a>
			    </div>
		    </div>
		    <div class="large-8 large-offset-1 cell">
			    <p>The future of business is being written by companies and products that—intentionally or not—shake billion dollar industries. In Design Disruptors, enter the world of 15+ industry-toppling companies—valued at more than $1 trillion dollars combined—with one unifying secret advantage: the transformative power of design.</p>
			    <p>Design Disruptors reveals a never-before-seen perspective on the design approaches of these companies and how they are overtaking billion dollar industries through design.</p>
		    </div>
	  	</div>
	  </div>
	</div>
</section>