<section id="section-header">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="small-12 cell">
				<h1 class="white">THURSDAY, NOVEMBER 16</h1>
			</div>
		</div>
	</div>
</section>

<section id="section-event">
	<div class="grid-container">		
	  <div class="grid-x grid-margin-x">
	    <div class="large-3 cell">
		    <div class="calendar-box">
			    <div class="time-from">
				    12:00
			    </div>
			    <div class="divider">
				    <hr />
			    </div>
			    <div class="time-to">
				    1:30
			    </div>
		    </div>
		    <div class="get-tickets">
			    <a class="button expanded" href="https://www.eventbrite.com/e/adweek-2017-personal-branding-telling-your-personal-story-tickets-38855541972">GET TICKETS</a>
		    </div>
	    </div>
	    <div class="large-8 large-offset-1 cell">
			<h2>STUDENT LUNCH & LEARN:</h2>
			<h2 class="white">PERSONAL BRANDING—TELLING YOUR PERSONAL STORY</h2>
			<h3 class="white"><span class="presenter-details">Matt Smythe</span> <span class="divider">/</span> <span class="presenter-details">Associate Creative Director</span> <span class="divider">/</span> <span class="presenter-details">Jay Advertising</span><br />
				<small>LOCATION: NAZARETH COLLEGE, CASA ITALIANA</small></h3>
			<h3><a data-toggle="panel-7" class="expand-details">EVENT DETAILS</a></h3>
	    </div>
	  </div>
	  
	  <div id="panel-7" data-toggler data-animate="hinge-in-from-top hinge-out-from-top" style="display: none;">
	  	<div class="grid-x grid-margin-x">
		    <div class="large-3 medium-4 cell">
			    <div class="event-details">
					NAZARETH STUDENTS: Free<br />
					NON-NAZARETH STUDENTS: $5<br />
					Lunch will be provided<br />
					<a href="https://www.facebook.com/events/380463205704186"><img src="assets/img/FB-f-Logo__white_50.png" class="social" /></a>
			    </div>
		    </div>
		    <div class="large-8 large-offset-1 cell">
			    <p><strong>The importance of a personal brand that inspires your professional life.</strong><br />
There's no getting around earning your bones. Talent and experience count in this industry. But industry talent and experience are only part of how you make a name for yourself professionally. Clients expect that you're bringing both to the table. It's the talent and experience you have personally-who you are as a human in this world-that set's your work apart in depth and range, and sets you apart when they're looking to hire.
</p>
		    </div>
	  	</div>
	  </div>
	</div>
</section>
<hr class="hide-for-small-only" />
<section id="section-event">
	<div class="grid-container">		
	  <div class="grid-x grid-margin-x">
	    <div class="large-3 cell">
		    <div class="calendar-box">
			    <div class="time-from">
				    6:00
			    </div>
			    <div class="divider">
				    <hr />
			    </div>
			    <div class="time-to">
				    7:00
			    </div>
		    </div>
		    <div class="get-tickets">
			    <a class="button expanded" href="https://www.eventbrite.com/e/adweek-2017-freelance-forum-tickets-38855505864">GET TICKETS</a>
		    </div>
	    </div>
	    <div class="large-8 large-offset-1 cell">
			<h2>FREELANCE FORUM</h2>
			<h2 class="white">EMPLOYMENT LAW</h2>
			<h3 class="white"><span class="presenter-details">Ben Mudrick</span> <span class="divider">/</span> <span class="presenter-details">Senior Associate</span> <span class="divider">/</span> <span class="presenter-details">Harter Secrest & Emery LLP</span></h3>
			<h2 class="white">PERSONAL FINANCIAL MANAGEMENT & RETIREMENT PLANNING</h2>
			<h3 class="white"><span class="presenter-details">James Farley</span> <span class="divider">/</span> <span class="presenter-details">Financial Advisor</span> <span class="divider">/</span> <span class="presenter-details">Northwestern Mutual</span><br />
				<small>LOCATION: PARTNERS + NAPIER (SIDE ROOM)</small></h3>
			<h3><a data-toggle="panel-8" class="expand-details">EVENT DETAILS</a></h3>
	    </div>
	  </div>
	  
	  <div id="panel-8" data-toggler data-animate="hinge-in-from-top hinge-out-from-top" style="display: none;">
	  	<div class="grid-x grid-margin-x">
		    <div class="large-3 medium-4 cell">
			    <div class="event-details">
					MEMBERS: Free<br />
					NON-MEMBERS: $5<br />
					<a href="https://www.facebook.com/events/120450781955587"><img src="assets/img/FB-f-Logo__white_50.png" class="social" /></a>
			    </div>
		    </div>
		    <div class="large-8 large-offset-1 cell">
			    <p>Whether self-employed or working for a major firm; learn the key financial decisions you should be making to build confidence and control around your most important goals. James Farley will share scalable strategies as it relates to cash flow management, risk management, wealth accumulation, tax strategies, and distribution planning.</p>
		    </div>
	  	</div>
	  </div>
	</div>
</section>