<section id="footer">
	<div class="grid-container">
		<div class="grid-x grid-margin-x align-middle">
			<div class="small-12 medium-3 cell">
				<a href="https://rafconnect.org/"><img src="assets/img/RAF_logo_Rev.svg" style="width: 50%"></a>
			</div>
			<div class="small-12 medium-7 medium-offset-2 cell">
				<img src="assets/img/RAD-Week.svg" style="width: 100%" />
			</div>
		</div>
		<div class="grid-x grid-margin-x">
			<div class="small-12 cell">
				<hr style="border-bottom: 2px solid #000000; margin-top: 80px;" />
				<p>© 2014 The RAF (Rochester Advertising Federation) Organization · Rochester, New York</p>
				<p>We strengthen our creative communications community through programs & events that educate and inspire great work.</p>
			</div>
		</div>
	</div>
</section>