<section id="section-header">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="small-12 cell">
				<h1 class="white">THE MAIN EVENT</h1>
			</div>
		</div>
	</div>
</section>

<section id="section-main-event">
	<div class="grid-container">	
		<div class="grid-x grid-margin-x">
		    <div class="large-3 medium-4 cell">
			    <div class="calendar-box">
				    <div class="day">
					    17
				    </div>
				    <div class="month">
					    NOVEMBER
				    </div>
			    </div>
			    <div class="get-tickets">
				    <a class="button expanded" href="https://www.eventbrite.com/e/adweek-2017-adam-bryant-david-carson-tickets-38715748847">GET TICKETS</a>
			    </div>
			    <div class="event-details orange">
					6PM–9PM<br />
					AT ARTISAN WORKS
			    </div>
			    <div class="event-details black">
					STUDENTS: $25<br />
					MEMBERS: $50<br />
					NON-MEMBERS: $60
			    </div>
		    </div>
		    <div class="large-4 large-offset-1 medium-4 small-12 cell small-text-center">
			    <img src="assets/img/david_carson.jpg" />
			    <h2>DAVID CARSON</h2>
			    <p><strong>Principal and Chief Designer of David Carson Design, Inc.</strong></p>
				<p>Design matters. Now more than ever. Known for his unconventional style of graphic design for Ray Gun magazine in the 1990s and for revolutionizing visual communication all 
over the world.</p>
		    </div>
		    <div class="large-4 medium-4 small-12 cell">
			    <img src="assets/img/adam_bryant.jpg" />
			    <h2>ADAM BRYANT</h2>
			    <p><strong><em>Corner Office</em> Columnist and Editorial Director, NYT Live</strong></p>
			    <p>Creating a Culture of Innovation</p>
		    </div>
		</div>
	</div>
</section>