section {
	@include breakpoint(medium up) {
		padding: 100px 0;	
	}
	@include breakpoint(small only) {
		padding: 20px 0;
		text-align: center;	
	}
}

#section-rad-week {
	
	@include breakpoint(medium up) {
		padding-top: 0!important;	
		padding-bottom: 0!important;	
	}
	
	#header {
		padding: 0 0 40px 0;
	}
	
	overflow-x: hidden;
	
	.logo {
		padding: 40px 0;
	}

	.top-graphic {
		max-height: 120px;
	}
	.bottom-graphic {
		max-height: 120px;
		overflow: hidden;
		right: 0;
	}

	img.rotate {
	    -ms-transform: rotate(180deg); /* IE 9 */
	    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	    transform: rotate(180deg);
	}

}

#section-header {
	background-color: $raf_blue;
	padding: 20px 0;
	@include breakpoint(small only) {
		text-align: center;
	}
}

#section-main-event {
	background-color: $white;
	color: $black;
	img {
		padding-bottom: 20px;
	}
	.calendar-box {
		background: $raf_blue;
		color: $white;
		padding: 20px 0;
		
		.day {
			text-align: center;
			font-size: 78pt;
			font-weight: 700;
			line-height: 1;
		}
		.month {
			text-align: center;
			font-size: 28pt;
			font-weight: 800;
		}
		
		@include breakpoint(medium only) {
			.month {
				font-size: 1.8rem;
			}
			.day {
				font-size: 4rem;
			}
		}
	}
}
#section-event, #main-event {
	background-color: $black;
	padding: 50px 0;
	color: $white;
	.calendar-box {
		background: $raf_blue;
		color: $white;
		padding: 20px 0;
		
		.time-from, .time-to {
			text-align: center;
			font-size: 54pt;
			font-weight: 600;
			line-height: 1.25;
		}
		.divider {
			hr { 
			  border : 0;
			  width: 30%;
			  height: 5px; 
			  margin-top: 5px;
			  margin-bottom: 5px;
			  background-color: #fff;
			  border-radius: 100px 100px 100px 100px;
			}
		}
	}
}
#main-event {
	padding: 50px 0 0 0;
}

.event-details {
	font-size: 18pt;
	line-height: 1.22;
	font-weight: 700;
	padding: 5px 0;
	&.orange {
		color: $raf_orange;
	}
	&.black {
		color: $black;
	}
	img.social {
		padding: 10px 0;
	}
}

.get-tickets {
	margin: 15px 0;
	.button {
		@include button(true, $raf_orange, scale-color($button-background, $lightness: -15%), $white, solid);

		@include breakpoint(medium up) {
			padding: .5em 0;
			font-size: 24pt;
			font-weight: 800;
		}
		@include breakpoint(small only) {
			padding: .25em 0;
			font-size: 18pt;
			font-weight: 700;
		}
	}
}

#footer {
	background-color: $white;
	
	p {
		color: $black;
		font-size: 12pt;
		text-align: center;	
	}
}